.MainAbout {
  background-color: var(--bgBlue);
}

.FullText{
  background-color: rgba(0, 0, 0, 0.5);
  width: 1280px;
  margin:0 auto;
}

.Header {
  background-color: var(--bgBlue);
  padding: 30px 30px;

  color: #FFFFFF;
  font-size: 56px;
  font-weight: bolder;
  text-align: center;
}

p {
  color: #fff;
  width: 800px;
  padding: 20px;
  
}
