:root {
  --bgBlue: #141536;
  --lightBlue: #5C5FF5;
  --blue: #4547B5;
  --darkBlue: #2D2E75;
}

body {
  font-family: "Comfortaa";
  color: var(--bgBlue);
}

.MainIndex {
  background-image: url("images/background.png");
}

.FullText{
  background-color: #FFFFFF;
  width: 1280px;
  margin:0 auto;
}

.Header {
  background-color: var(--bgBlue);
  box-shadow: 2px 2px 2px 2px #000000;
  padding: 30px 30px;
  text-align: right;

  color: #FFFFFF;
  font-size: 56px;
  font-weight: bolder;
  text-align: center;
}

.Description {
  color: #FFFFFF;
  font-size: 24px
}

.Nav {
  display: flex;
  align-content: center;
  justify-content: left;
  gap: 60px;
  list-style-type: none;
}


.MainAbout {
  background-color: var(--bgBlue);
}

.Space64px {
  height: 128px;
}

.Header2 {
  background-color: var(--bgBlue);
  padding: 30px 30px;
  text-align: right;

  color: #FFFFFF;
  font-size: 56px;
  font-weight: bolder;
  text-align: center;
}

.PostSpace {
  height: 100px
}

.Post {
  width: 800px;
  display: flex;
  justify-content: left;
}
